# Сбор датасетов из таблиц википедии

Соберем три различных датасета из англоязычных таблиц википедии:

1) Коэффициенты УЕФА - https://en.wikipedia.org/wiki/UEFA_coefficient

2) Список самых продаваемых видеоигр - https://en.wikipedia.org/wiki/List_of_best-selling_video_games

3) Список языков программирования, возникших с 2010 года - https://en.wikipedia.org/wiki/Timeline_of_programming_languages

## Необходимые функции

In [1]:
import math
import re
import requests

import lxml.html as lh
import numpy as np
import pandas as pd
import seaborn as sns


sns.set()


def get_col_names(col_names):
    """Возвращает список именом столбцов. В таблице может быть 
    заголовок, состоящий из более чем одной строки. В таком случае
    `pandas.read_html()` возвращает заголовок таблицы в формате 
    `pandas.core.index.MultiIndex`, где индексами являются кортежи 
    строк. Данная функция объединяет уникальные элементы таких кортежей 
    в строки через '/'. Например кортеж `('Rank', 'Rank')` заменяется
    строкой `'Rank'`, а кортеж `('Length', 'Electrified')` строкой 
    `'Length/Electrified'`. Если элементом `col_names` является строка,
    то она остается без изменений.
    
    Параметры:
        col_names: последовательность имен столбцов в `pandas.DataFrame`
    
    Возвращает:
        список строк
    
    Исключения:
        ValueError, если элемент `col_names` -- не кортеж и не строка. 
    """
    names = []
    for n in col_names:
        if isinstance(n, tuple):
            sn = ''
            for i, w in enumerate(n):
                if w not in n[:i]:
                    sn += '/' + w
            names.append(sn[1:])
        elif isinstance(n, (str, int)):
            names.append(n)
        else:
            raise ValueError(
                "Unsupported column name type {}\n"
                "Only types `str`, `int` and `Tuple[str]` "
                "are supported.\n"
                "column name: {}".format(type(n), n)
            )
    return names


def remove_excess_info(s):
    """Возвращает строку, полученную из `s` удалением из нее квадратных
    и круглых скобок с их содержимым, а также удалением символа *.
    
    Параметры:
        s: Любой объект. Если не строка, объект возвращается без изменений.
    
    Возвращает:
        строка
    """
    if isinstance(s, str):
        s = re.sub(r'((\[[^\]]*])|(\*)|(~)|(%)|(\([^\)]*\)))', '', s)
        s = re.sub(' +', ' ', s)
        s = s.strip()
    return s

        
def tofloat(x):
    if isinstance(x, str) and x in '—–' \
            or isinstance(x, float) and math.isnan(x):
        return float('nan')
    if isinstance(x, str):
        x = re.sub('[, ]+', '', x)
    try:
        return float(x)
    except ValueError:
        raise ValueError(
            "Cannot convert {} to `float`\nx=={}".format(
                type(x), x))
    


def get_tables_from_html(url):
    """Возвращает список таблиц найденных на веб-странице с адресом `url`.
    
    Параметры:
        url: строка
    
    Возвращает:
        список объектов класса `pandas.DataFrame`
    """
    # Скачиваем веб-страницу
    page = requests.get(url)
    # Преобразуем скачанную страницу в html документ.
    doc = lh.fromstring(page.content.decode('utf-8'))
    # Извлекаем из документа все таблицы
    tables = doc.xpath('//table')
    dfs = []
    for table in tables:
        df = pd.read_html(lh.tostring(table))[0]
        # Следующие 2 строчки кода решают проблему многострочных заголовков
        col_names = get_col_names(df.columns)
        df.columns = col_names
        dfs.append(df)
    return dfs


def prepare_wiki_table(df, int_cols):
    df = df.applymap(remove_excess_info)
    for col in int_cols:
        df[col] = df[col].map(tofloat)
    return df

## Коэффициенты УЕФА

In [2]:
url = "https://en.wikipedia.org/wiki/UEFA_coefficient"
dfs = get_tables_from_html(url)

In [3]:
len(dfs)

63

In [4]:
dfs[10].head()

,Ranking/2020,Ranking/2019,Ranking/Mvmt,"Member association(L: League, C: Cup, LC: League cup1)",Coefficient/2015–16,Coefficient/2016–17,Coefficient/2017–18,Coefficient/2018–19,Coefficient/2019–20,Coefficient/Total,Teams,Places in 2021–22 season/CL,Places in 2021–22 season/EL,Places in 2021–22 season/ECL,Places in 2021–22 season/Total
0,1,1,—,"Spain (L, C)",23.928,20.142,19.714,19.571,14.357,97.712,7/7,4,2,1,7
1,2,2,—,"England (L, C, LC1)",14.250,14.928,20.071,22.642,14.571,86.462,7/7,4,2,1,7
2,3,4,+1,"Germany (L, C)",16.428,14.571,9.857,15.214,12.428,68.498,6/7,4,2,1,7
3,4,3,–1,"Italy (L, C)",11.500,14.250,17.333,12.642,10.785,66.510,5/7,4,2,1,7
4,5,5,—,"France (L, C, LC1)",11.083,14.416,11.500,10.583,8.500,56.082,2/6,3,2,1,6

In [5]:
UEFA_coefficient = prepare_wiki_table(dfs[10],['Coefficient/Total'])

In [6]:
UEFA_coefficient = UEFA_coefficient.rename({'Member association(L: League, C: Cup, LC: League cup1)': 'Country'}, axis=1)

In [7]:
UEFA_coefficient = UEFA_coefficient.set_index('Country')

In [8]:
UEFA_coefficient.shape

(55, 14)

In [9]:
UEFA_coefficient.describe()

,Ranking/2020,Ranking/2019,Coefficient/2017–18,Coefficient/2018–19,Coefficient/2019–20,Coefficient/Total,Places in 2021–22 season/CL,Places in 2021–22 season/EL,Places in 2021–22 season/ECL,Places in 2021–22 season/Total
count,55.00000,55.00000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000
mean,28.00000,28.00000,4.481782,4.573509,3.966036,21.818800,1.436364,0.363636,3.872727,4.309091
std,16.02082,16.02082,4.671718,4.598842,3.441113,20.959631,0.897809,0.648749,4.891620,1.086495
min,1.00000,1.00000,0.000000,0.375000,0.000000,0.666000,0.000000,0.000000,1.000000,1.000000
25%,14.50000,14.50000,1.125000,1.500000,1.500000,6.725000,1.000000,0.000000,2.000000,4.000000
50%,28.00000,28.00000,2.900000,3.125000,3.000000,16.625000,1.000000,0.000000,3.000000,4.000000
75%,41.50000,41.50000,5.562500,5.875000,4.833000,27.025000,2.000000,1.000000,3.000000,5.000000
max,55.00000,55.00000,20.071000,22.642000,14.571000,97.712000,4.000000,2.000000,23.000000,7.000000

In [10]:
UEFA_coefficient

,Ranking/2020,Ranking/2019,Ranking/Mvmt,Coefficient/2015–16,Coefficient/2016–17,Coefficient/2017–18,Coefficient/2018–19,Coefficient/2019–20,Coefficient/Total,Teams,Places in 2021–22 season/CL,Places in 2021–22 season/EL,Places in 2021–22 season/ECL,Places in 2021–22 season/Total
Country,,,,,,,,,,,,,,
Spain,1,1,—,23.928,20.142,19.714,19.571,14.357,97.712,7/7,4,2,1,7
England,2,2,—,14.250,14.928,20.071,22.642,14.571,86.462,7/7,4,2,1,7
Germany,3,4,+1,16.428,14.571,9.857,15.214,12.428,68.498,6/7,4,2,1,7
Italy,4,3,–1,11.500,14.250,17.333,12.642,10.785,66.510,5/7,4,2,1,7
France,5,5,—,11.083,14.416,11.500,10.583,8.500,56.082,2/6,3,2,1,6
Portugal,6,7,+1,10.500,8.083,9.666,10.900,9.700,48.849,4/5,3,1,2,6
Russia,7,6,–1,11.500,9.200,12.600,7.583,4.666,45.549,0/6,2,1,2,5
Belgium,8,8,—,7.400,12.500,2.600,7.800,7.200,37.500,2/5,2,1,2,5
Netherlands,9,11,+2,5.750,9.100,2.900,8.600,8.800,35.150,2/5,2,1,2,5
Ukraine,10,9,–1,9.800,5.500,8.000,5.600,4.600,33.500,1/5,2,1,2,5
Turkey,11,10,–1,6.600,9.700,6.800,5.500,4.200,32.800,1/5,2,1,2,5
Austria,12,12,—,3.800,7.375,9.750,6.200,5.000,32.125,2/5,2,1,2,5
Denmark,13,16,+3,5.500,8.500,5.250,4.875,3.375,27.500,1/4,2,1,2,5
Czech Republic,14,13,–1,7.300,5.500,5.500,6.500,2.500,27.300,0/5,2,1,2,5
Cyprus,15,18,+3,3.000,5.500,7.000,6.125,5.125,26.750,1/4,2,1,2,5
Scotland,16,20,+4,3.000,4.375,4.000,6.750,8.500,26.625,2/4,1,0,3,4
Greece,17,14,–3,5.400,5.800,5.100,5.100,4.300,25.700,1/5,1,0,3,4
Serbia,18,19,+1,4.250,2.875,6.375,6.000,6.000,25.500,0/4,1,0,3,4
Croatia,19,15,–4,4.500,5.125,5.125,5.750,4.375,24.875,0/4,1,0,3,4
Switzerland,20,17,–3,5.300,4.300,6.500,3.900,4.400,24.400,1/5,1,0,3,4
Sweden,21,22,+1,4.750,2.750,5.375,4.125,5.750,22.750,1/4,1,0,3,4
Norway,22,23,+1,7.250,1.375,4.000,5.375,3.750,21.750,0/4,1,0,3,4
Israel,23,27,+4,2.250,6.750,5.625,2.625,2.375,19.625,0/4,1,0,3,4
Kazakhstan,24,24,—,4.625,2.750,4.250,4.250,3.375,19.250,0/4,1,0,3,4
Belarus,25,21,–4,5.125,3.000,3.250,5.000,2.500,18.875,0/4,1,0,3,4
Azerbaijan,26,26,—,4.375,4.250,4.375,2.375,3.375,18.750,0/4,1,0,3,4
Bulgaria,27,28,+1,1.000,4.250,4.000,4.000,4.125,17.375,1/4,1,0,3,4
Poland,28,25,–3,5.500,3.875,2.875,2.250,2.125,16.625,0/4,1,0,3,4
Romania,29,29,—,2.250,3.300,2.900,2.375,5.375,16.200,1/4,1,0,3,4
Slovakia,30,30,—,3.750,2.125,1.875,5.125,3.000,15.875,0/4,1,0,3,4
Liechtenstein,31,32,+1,5.000,2.500,2.000,1.500,2.500,13.500,0/1,0,0,1,1
Slovenia,32,31,–1,1.000,2.250,4.625,3.125,2.000,13.000,0/4,1,0,3,4
Hungary,33,33,—,1.625,1.875,1.625,3.250,4.500,12.875,0/4,1,0,3,4
Luxembourg,34,43,+9,0.750,0.750,0.875,2.625,3.000,8.000,0/4,1,0,3,4
Lithuania,35,41,+6,0.750,0.500,2.375,2.625,1.625,7.875,0/4,1,0,3,4
Armenia,36,44,+8,1.625,1.125,0.625,1.500,2.750,7.625,0/4,1,0,3,4
Latvia,37,42,+5,1.625,1.375,0.750,1.625,2.250,7.625,0/4,1,0,3,4
Albania,38,36,–2,2.125,0.875,2.625,1.000,0.750,7.375,0/4,1,0,3,4
North Macedonia,39,34,–5,1.500,1.250,3.125,1.000,0.500,7.375,0/4,1,0,3,4
Bosnia and Herzegovina,40,40,—,1.500,0.500,1.375,2.000,1.500,6.875,0/4,1,0,3,4
Moldova,41,35,–6,1.250,0.875,2.750,1.125,0.750,6.750,0/4,1,0,3,4
Republic of Ireland,42,37,–5,0.700,2.625,1.125,1.000,1.250,6.700,0/4,1,0,3,4
Finland,43,38,–5,1.000,1.750,1.250,0.875,1.625,6.500,0/4,1,0,3,4
Georgia,44,47,+3,0.625,1.125,0.125,1.625,2.250,5.750,0/4,1,0,3,4
Malta,45,45,—,0.875,1.250,1.375,1.500,0.750,5.750,0/4,1,0,3,4
Iceland,46,39,–7,1.125,1.000,1.125,1.500,0.625,5.375,0/4,1,0,3,4
Wales,47,48,+1,1.500,1.000,0.500,1.000,1.000,5.000,0/4,1,0,3,4
Northern Ireland,48,52,+4,0.750,0.500,0.750,0.500,2.375,4.875,0/4,1,0,3,4
Gibraltar,49,51,+2,0.750,1.500,0.500,1.000,1.000,4.750,0/3,1,0,3,4
Montenegro,50,49,–1,1.000,0.875,1.125,0.375,1.000,4.375,0/4,1,0,3,4
Estonia,51,46,–5,1.000,1.375,0.625,0.500,0.875,4.375,0/4,1,0,3,4
Kosovo,52,53,+1,——4,——4,0.000,2.500,1.500,4.000,0/2,1,0,23,3
Faroe Islands,53,50,–3,0.375,0.375,0.750,1.125,1.125,3.750,0/4,1,0,23,3
Andorra,54,54,—,0.166,0.166,0.166,0.833,1.500,2.831,0/3,1,0,23,3
San Marino,55,55,—,0.000,0.000,0.166,0.500,0.000,0.666,0/3,1,0,13,2

## Список самых продаваемых видеоигр

In [11]:
url = "https://en.wikipedia.org/wiki/List_of_best-selling_video_games"
dfs = get_tables_from_html(url)

In [12]:
len(dfs)

4

In [13]:
dfs[1].head()

,Title,Sales,Platform(s),Initial release date,Developer(s)[a],Publisher(s)[a],Bundled with a console?,Ref.
0,Minecraft,"180,000,000[b]",Multi-platform,"November 18, 2011[c]",Mojang,Xbox Game Studios,NaN,[3]
1,Tetris,"170,000,000[b]",Multi-platform,"June 6, 1984",Elektronorgtechnica,Various[d],NaN,[5][e]
2,Grand Theft Auto V,115000000,Multi-platform,"September 17, 2013",Rockstar North,Rockstar Games,NaN,[9]
3,Wii Sports,82880000,Wii,"November 19, 2006",Nintendo EAD,Nintendo,NaN,[10]
4,PlayerUnknown's Battlegrounds,50000000,Multi-platform,"December 20, 2017",PUBG Corporation,PUBG Corporation,NaN,[11]

In [14]:
VideoGames = prepare_wiki_table(dfs[1],['Sales'])

In [15]:
VideoGames = VideoGames.set_index('Title')

In [16]:
VideoGames = VideoGames.drop(['Bundled with a console?','Ref.'],axis=1)

In [17]:
VideoGames.shape

(51, 5)

In [18]:
VideoGames.describe()

              Sales
count  5.100000e+01
mean   3.441306e+07
std    3.321759e+07
min    1.600000e+07
25%    2.000000e+07
50%    2.473000e+07
75%    3.000000e+07
max    1.800000e+08

In [19]:
VideoGames

,Sales,Platform(s),Initial release date,Developer(s)[a],Publisher(s)[a]
Title,,,,,
Minecraft,180000000.0,Multi-platform,"November 18, 2011",Mojang,Xbox Game Studios
Tetris,170000000.0,Multi-platform,"June 6, 1984",Elektronorgtechnica,Various
Grand Theft Auto V,115000000.0,Multi-platform,"September 17, 2013",Rockstar North,Rockstar Games
Wii Sports,82880000.0,Wii,"November 19, 2006",Nintendo EAD,Nintendo
PlayerUnknown's Battlegrounds,50000000.0,Multi-platform,"December 20, 2017",PUBG Corporation,PUBG Corporation
Super Mario Bros.,48240000.0,Multi-platform,"September 13, 1985",Nintendo,Nintendo
Pokémon Red/Green/Blue/Yellow,47520000.0,Multi-platform,"February 27, 1996",Game Freak,Nintendo
Wii Fit and Wii Fit Plus,43800000.0,Wii,"December 1, 2007",Nintendo EAD,Nintendo
Mario Kart Wii,37240000.0,Wii,"April 10, 2008",Nintendo EAD,Nintendo
Wii Sports Resort,33110000.0,Wii,"June 25, 2009",Nintendo EAD,Nintendo
New Super Mario Bros.,30800000.0,Nintendo DS,"May 15, 2006",Nintendo EAD,Nintendo
New Super Mario Bros. Wii,30280000.0,Wii,"November 11, 2009",Nintendo EAD,Nintendo
The Elder Scrolls V: Skyrim,30000000.0,Multi-platform,"November 11, 2011",Bethesda Game Studios,Bethesda Softworks
Diablo III and Reaper of Souls,30000000.0,Multi-platform,"May 16, 2012",Blizzard Entertainment,Blizzard Entertainment
Pokémon Gold/Silver/Crystal,29490000.0,Game Boy Color,"November 21, 1999",Game Freak,Nintendo
Duck Hunt,28300000.0,NES,"April 21, 1984",Nintendo R&D1,Nintendo
Wii Play,28020000.0,Wii,"December 2, 2006",Nintendo EAD,Nintendo
Grand Theft Auto: San Andreas,27500000.0,Multi-platform,"October 26, 2004",Rockstar North,Rockstar Games
Mario Kart 8/Deluxe,27450000.0,Multi-platform,"May 29, 2014",Nintendo EAD,Nintendo
Terraria,27000000.0,Multi-platform,"May 16, 2011",Re-Logic,Re-Logic
Call of Duty: Modern Warfare 3,26500000.0,Multi-platform,"November 8, 2011",Infinity WardSledgehammer Games,Activision
Red Dead Redemption 2,26500000.0,Multi-platform,"October 26, 2018",Rockstar Studios,Rockstar Games
Call of Duty: Black Ops,26200000.0,Multi-platform,"November 9, 2010",Treyarch,Activision
Grand Theft Auto IV,25000000.0,Multi-platform,"April 29, 2008",Rockstar North,Rockstar Games
Pokémon Sun/Moon/Ultra Sun/Ultra Moon,24740000.0,Nintendo 3DS,"November 18, 2016",Game Freak,Nintendo / The Pokémon Company
Pokémon Diamond/Pearl/Platinum,24730000.0,Nintendo DS,"September 28, 2006",Game Freak,Nintendo / The Pokémon Company
Call of Duty: Black Ops II,24200000.0,Multi-platform,"November 12, 2012",Treyarch,Activision
FIFA 18,24000000.0,Multi-platform,"September 29, 2017",EA Canada,Electronic Arts
Kinect Adventures!,24000000.0,Xbox 360,"November 4, 2010",Good Science Studio,Xbox Game Studios
Sonic the Hedgehog,23982960.0,Multi-platform,"June 23, 1991",Sonic Team,Sega
Nintendogs,23960000.0,Nintendo DS,"April 21, 2005",Nintendo EAD,Nintendo
Mario Kart DS,23600000.0,Nintendo DS,"November 14, 2005",Nintendo EAD,Nintendo
Call of Duty: Modern Warfare 2,22700000.0,Multi-platform,"November 10, 2009",Infinity Ward,Activision
Pokémon Ruby/Sapphire/Emerald,22540000.0,Game Boy Advance,"November 21, 2002",Game Freak,Nintendo / The Pokémon Company
Borderlands 2,22000000.0,Multi-platform,"September 18, 2012",Gearbox Software,2K Games
Super Mario World,20972500.0,Multi-platform,"November 21, 1990",Nintendo EAD,Nintendo
Frogger,20000000.0,Multi-platform,"June 5, 1981",Konami,Sega
Grand Theft Auto: Vice City,20000000.0,Multi-platform,"October 27, 2002",Rockstar North,Rockstar Games
Lemmings,20000000.0,Multi-platform,"February 14, 1991",DMA Design,Psygnosis
The Witcher 3: Wild Hunt,20000000.0,Multi-platform,"May 19, 2015",CD Projekt Red,CD Projekt
Brain Age,19010000.0,Nintendo DS,"May 19, 2005",Nintendo SPD,Nintendo
Super Mario Bros. 3,19000000.0,Multi-platform,"October 23, 1988",Nintendo,Nintendo
Call of Duty: Ghosts,19000000.0,Multi-platform,"November 5, 2013",Infinity Ward,Activision
Mario Kart 7,18470000.0,Nintendo 3DS,"December 1, 2011",Nintendo EAD,Nintendo
Super Mario Land,18370500.0,Multi-platform,"April 21, 1989",Nintendo R&D1,Nintendo
Grand Theft Auto III,17500000.0,Multi-platform,"October 22, 2001",DMA Design,Rockstar Games
The Last of Us,17000000.0,Multi-platform,"June 14, 2013",Naughty Dog,Sony Computer Entertainment
Pokémon X and Y,16420000.0,Nintendo 3DS,"October 12, 2013",Game Freak,Nintendo / The Pokémon Company
The Legend of Zelda: Breath of the Wild,16040000.0,Multi-platform,"March 3, 2017",Nintendo EPD,Nintendo
The Sims,16000000.0,Multi-platform,"January 31, 2000",Maxis,Electronic Arts
Need for Speed: Most Wanted,16000000.0,Multi-platform,"November 11, 2005",EA Black Box,Electronic Arts

## Список языков программирования, возникших с 2010 года

In [20]:
url = "https://en.wikipedia.org/wiki/Timeline_of_programming_languages"
dfs = get_tables_from_html(url)

In [21]:
len(dfs)

13

In [22]:
dfs[11].head()

,Year,Name,"Chief developer, company",Predecessor(s)
0,2010,Rust,"Graydon Hoare, Mozilla","Alef, C++, Camlp4, Erlang, Hermes, Limbo, Napi..."
1,2011,C11,C11 ISO/IEC 9899:2011,NaN
2,2011,Ceylon,"Gavin King, Red Hat",Java
3,2011,Dart,Google,"Java, JavaScript, CoffeeScript, Go"
4,2011,C++11,C++ ISO/IEC 14882:2011,"C++, Standard C, C"

In [23]:
ProgLang = dfs[11]

In [24]:
ProgLang = ProgLang.query("Name != 'Name'")

In [25]:
ProgLang = ProgLang.set_index('Name')

In [26]:
ProgLang.shape

(31, 3)

In [27]:
ProgLang.describe()

        Year Chief developer, company      Predecessor(s)
count     31                       30                  25
unique     9                       30                  23
top     2011                JetBrains  C++, Standard C, C
freq       8                        1                   3

In [28]:
ProgLang

,Year,"Chief developer, company",Predecessor(s)
Name,,,
Rust,2010,"Graydon Hoare, Mozilla","Alef, C++, Camlp4, Erlang, Hermes, Limbo, Napi..."
C11,2011,C11 ISO/IEC 9899:2011,NaN
Ceylon,2011,"Gavin King, Red Hat",Java
Dart,2011,Google,"Java, JavaScript, CoffeeScript, Go"
C++11,2011,C++ ISO/IEC 14882:2011,"C++, Standard C, C"
Kotlin,2011,JetBrains,"Java, Scala, Groovy, C#, Gosu"
Red,2011,Nenad Rakocevic,"Rebol, Scala, Lua"
MonkeyX,2011,Mark Sibly,NaN
Opa,2011,MLstate,"OCaml, Erlang, JavaScript"
Elixir,2012,José Valim,"Erlang, Ruby, Clojure"
Elm,2012,Evan Czaplicki,"Haskell, Standard ML, OCaml, F#"
TypeScript,2012,"Anders Hejlsberg, Microsoft","JavaScript, CoffeeScript"
Julia,2012,"Jeff Bezanson, Stefan Karpinski, Viral Shah, A...","MATLAB, Lisp, C, Fortran, Mathematica[11] (str..."
P,2012,"Vivek Gupta, Ethan Jackson, Shaz Qadeer, Srira...",NaN
Ada 2012,2012,ARA and Ada Europe (ISO/IEC 8652:2012),"Ada 2005, ISO/IEC 8652:1995/Amd 1:2007"
P4,2013,P4 Language Consortium (P4.org),NaN
Hopscotch,2013,Hopscotch Technologies,Scratch
Cuneiform,2013,Jörgen Brandt,Swift (parallel scripting language)
Crystal,2014,"Ary Borenszweig, Manas Technology Solutions","Ruby, C, Rust, Go, C#, Python"
Hack,2014,Facebook,PHP
Swift,2014,Apple Inc.,"Objective-C, Rust, Haskell, Ruby, Python, C#, CLU"
C++14,2014,C++ ISO/IEC 14882:2014,"C++, Standard C, C"
MakeCode,2015,Microsoft,TypeScript
Raku,2015,The Rakudo Team,"Perl, Haskell, Python, Ruby"
pony,2015,NaN,NaN
Reason,2016,Jordan Walke,"JavaScript, OCaml[13]"
Ring,2016,Mahmoud Fayed,"Lua, Python, Ruby, C, C#, BASIC, QML, xBase, S..."
C++17,2017,C++ ISO/IEC 14882:2017,"C++, Standard C, C"
Ballerina,2017,"WSO2, Open Source[14]","Java, Javascript, Go, Rust, C#"
C18,2018,C18 ISO/IEC 9899:2018,NaN
Fortran 2018,2018,ISO/IEC JTC1/SC22/WG5 N2150:2018,Fortran 2008